
* {
    -fx-font-family: "Helvetica";
    -fx-text-fill: #dddddd;
}

#AnchorPane {
    -fx-background-color: #141414;
}

TextField {
    -fx-background-color: #282828;
    -fx-background-radius: 10px 10px 10px 10px;
}

Button {
    -fx-background-color: #282828;
    -fx-text-fill: #f2f2f2;
    -fx-background-radius: 10px 10px 10px 10px;
}

Button:hover {
    -fx-background-color: #424242;
    -fx-text-fill: white;
}

TableView, ListView {
    -fx-background-color: #282828;
}

TableView {
    -fx-background-radius: 10px 10px 10px 10px;
}

ListView {
    -fx-background-radius: 0px 0px 10px 10px;
}

#DeleteButton {
    -fx-background-color: #752836;
    -fx-text-fill: #cf6679;
}

#DeleteButton:hover {
    -fx-background-color: #994252;
    -fx-text-fill: #d47f8e;
}

#SendButton {
    -fx-background-color: #124429;
    -fx-text-fill: #389664;
}

#SendButton:hover {
    -fx-background-color: #2d734d;
    -fx-text-fill: #69bf91;
}

#VocabularyLabel {
    -fx-background-color: linear-gradient(to bottom, #282828, #202020);
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-border-radius: 10px 10px 0px 0px;
    -fx-border-color: #282828;
    -fx-border-width: 1px;
    -fx-font-weight: bold;
}

.table-view .column-header-background {
    -fx-background-color: #282828;
    -fx-background-radius: 10px 10px 0px 0px;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #282828, #202020);
    -fx-background-radius: 10px 10px 0px 0px;
}

.table-view .table-cell, .list-cell {
    -fx-border-color: transparent;
}

.table-row-cell:odd, .list-cell:odd {
    -fx-background-color: #222222;
}

.table-row-cell:even, .list-cell:even {
    -fx-background-color: transparent;
}

.table-row-cell:hover {
    -fx-background-color: #333333;
}

.table-row-cell:selected {
    -fx-background-color: #555555;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: #333333;
}

.list-view .virtual-flow .scroll-bar:vertical,
.list-view .virtual-flow .scroll-bar:vertical .track,
.list-view .virtual-flow .scroll-bar:vertical .track-background,
.list-view .virtual-flow .scroll-bar:horizontal,
.list-view .virtual-flow .scroll-bar:horizontal .track,
.list-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: #333333;
}
